---
---
@import "abstracts/variables";

// TODO: Merge these styles into the main stylesheet so this doesn't need to be loaded as a separate request

#page-content {
  margin-top: $header-height;
}

// ========== PAGE SECTIONS ======= //

section {
  padding: 100px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  &.success {
    background: #f0f2f7;
  }
}

@media (max-width: $screen-sm-max) {
  $section-padding-sm: 30px;
  section {
    padding: $section-padding-sm 0;
    &.first { padding-top: $section-padding-sm; }
  }
}
