---
---

html {
  font-size: 15px;
}

body {
  overflow-x: hidden;
}

p {
  font-size: 1.25em;
}

a {
  outline: 0;
  color: #18bc9c;

  &:hover, &:focus, &:active, &.active {
    outline: 0;
    color: #18bc9c;
  }
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

hr {
  &.hr-light, &.hr-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 100px;
    border: 0;
    border-top: solid 2px;
    text-align: center;
  }
  &.hr-light {
    border-color: #fff;
  }
  &.hr-primary {
    border-color: #2c3e50;
  }
}

header {
  text-align: center;
  color: #fff;
  background: #18bc9c;

  .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  img {
    display: block;
    margin: 0 auto 20px;
    width: 25%;
  }

  .intro-text {
    .name {
      display: block;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 2em;
      font-weight: 700;
    }

    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }

    .social {
      padding: 0;
      margin: 1em 0;
      list-style: none;
      font-size: 1.2em;

      li {
        display: inline-block;
        padding: 0;
        
        a {
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    background-image: url('../img/header-blur.jpg');
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;

    .container {
      padding-top: 200px;
      padding-bottom: 100px;
    }

    .intro-text {
      .name {
        font-size: 4.75em;
      }

      .skills {
        font-size: 1.75em;
      }
    }
  }
}

.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  a:focus {
    outline: 0;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: 0;
    }
  }
}

.navbar-default, .navbar-inverse {
  border: 0;
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
    }
    &.navbar-shrink {
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

section {
  padding: 100px 0;
  h2 {
    margin: 0;
    font-size: 3em;
  }
  &.success {
    background: #f0f2f7;
    a {
      outline: 0;
      color: #2c3e50;
      &:hover, &:focus, &:active, &.active {
        outline: 0;
        color: #2c3e50;
      }
    }
  }
}

@media (max-width: 768px) {
  section {
    padding: 75px 0;
    &.first {
      padding-top: 75px;
    }
  }
}

#about {
  .info-container {
    margin-top: 3em;
  }
  .info {
    padding: 10px;

    .info-labels {
      font-weight: bold;
      display: inline-block;
    }

    .info-data {
      display: inline-block;
      p:before {
        content: ": ";
      }
    }

    .fa-download {
      margin-right: 5px;
    }
  }
}

#resume {
  .projects ul, .technologies ul {
    display: inline;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }
}

#portfolio {
  .portfolio-item {
    right: 0;
    margin-bottom: 15px;
    .portfolio-link {
      display: block;
      position: relative;
      margin: 0 auto;
      max-width: 400px;
      .caption {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: rgba(24, 188, 156, 0.9);
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        transition: all ease .5s;
        &:hover {
          opacity: 1;
        }
        .caption-content {
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          font-size: 20px;
          color: #fff;
          i {
            margin-top: -12px;
          }
          h3, h4 {
            margin: 0;
          }
        }
      }
    }
  }
  * {
    z-index: 2;
  }
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
  &:hover, &:focus, &:active, &.active {
    border: solid 2px #fff;
    color: #18bc9c;
    background: #fff;
  }
}

footer {
  color: #fff;
  padding: 25px 0;
  background-color: #233140;
}

.btn {
  &:focus, &:active, &.active {
    outline: 0;
  }
}

.scroll-top {
  z-index: 1049;
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    &:focus {
      outline: 0;
    }
  }
}

.portfolio-modal {
  .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    h2 {
      margin: 0;
      font-size: 3em;
    }
    .technologies {
      font-size: 1.5em;
      text-align: left;
      li:first-child:before {
        content: "Technologies: ";
        font-weight: bold;
      }
      li:after {
        content: ", ";
      }
      li:last-child:after {
        content: "";
      }
    }
    img {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
    .modal-text, .technologies {
      text-align: left;
    }
    .details {
      font-size: 1.25em;
      margin: 30px 0;
      li strong:after {
        content: ": ";
      }
    }
  }
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
    &:hover {
      opacity: .3;
    }
    .lr {
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 35px;
      background-color: #2c3e50;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      .rl {
        z-index: 1052;
        width: 1px;
        height: 75px;
        background-color: #2c3e50;
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
      }
    }
  }
  .modal-backdrop {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .portfolio-modal {
    .modal-content {
      h2 {
        font-size: 2em;
      }
    }
  }
}