---
title: Home
layout: page
custom_css:
  - pace.css
  - index.css
custom_js:
  - vertical-timeline.js
  - portfolio-modals.js
email_href: mailto:mark.monteiro23@gmail.com?subject=Awesome%20Job%20Offer%20From%20%5Benter%20your%20company%20name%20here%5D
---
<!-- Header -->
<header class='page-banner'>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="img/logo.png" alt="Mark Monteiro">
        <div class="intro-text">
          <h1 class="name">Mark Monteiro</h1>
          <hr class="hidden-xs hr-light">
          <span class="skills">Software Engineer - Web Developer</span>
          <ul class="social">
            <li>
              <a href="{{page.email_href}}">
                <span class="fa fa-envelope-o"></span>
                <span class='sr-only'>Email</span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/mrkmonteiro">
                <span class="fa fa-linkedin"></span>
                <span class='sr-only'>LinkedIn</span>
              </a>
            </li>
            <li>
              <a href="https://github.com/mark-monteiro">
                <span class="fa fa-github"></span>
                <span class='sr-only'>Github</span>
              </a>
            </li>
            <li>
              <a href="https://stackoverflow.com/users/1988326/markuss232">
                <span class="fa fa-stack-overflow"></span>
                <span class='sr-only'>Stack Overflow</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="hr-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <p>
          Welcome to my homepage! Here you can see a summary of my education, experiences, and projects I have worked
          on. If you like what you see, or just want some more information about myself, please
          <a href="{{page.email_href}}">drop me a line</a>!
        </p>
      </div>
    </div>
    <div class="row info-container">
      <div class="col-lg-6 col-lg-offset-3 info">
        <div class="row">
          <div class="col-xs-12 col-lg-4 col-lg-offset-0">
            <img class="portrait img-responsive" src="img/profile.png" alt="Mark Monteiro">
          </div>
          <div class="col-xs-12 col-lg-8">
            <dl class="dl-horizontal" >
              <dt>Email</dt>
              <dd><a href="{{page.email_href}}">mark.monteiro23@gmail.com</a></dd>
              <dt>Phone</dt>
              <dd>226-349-3224</dd>
              <dt>Birthdate</dt>
              <dd>May 18, 1991</dd>
              <dt>Website</dt>
              <dd><a href="index.html">www.markmonteiro.info</a></dd>
            </dl>
          </div>
        </div>
        <div class="text-center">
          <a class="btn btn-primary" href="/mark-monteiro-resume.pdf" download>
            <span class="fa fa-download"></span>
            Download Resume
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Resume Section -->
<section id="resume" class="success">
  <div class="cd-container">
    <div class="cd-timeline-label">
      <h2 class="label label-primary">Experience</h2>
    </div>
    {% include experience-timeline.html %}
  </div>
</section> <!-- cd-timeline -->

<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Projects</h2>
        <hr class="hr-primary">
      </div>
    </div>
    <div class="row">
      {% include portfolio-items.html %}
    </div>
  </div>
</section>

<!-- Portfolio Modals -->
{% include portfolio-modals.html %}

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <span class="fa fa-chevron-up"></span>
    <span class='sr-only'>Scroll To Top Of Page</span>
  </a>
</div>
