---
email_href: mailto:mark.monteiro23@gmail.com?subject=Awesome%20Job%20Offer%20From%20%5Benter%20your%20company%20name%20here%5D
---
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mark Monteiro</title>
    <link rel="icon" type="image/ico" href="favicon.ico">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="//cdn.jsdelivr.net/bootswatch/3.3.2/flatly/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/site.css" rel="stylesheet">
    <link href="css/vertical-timeline.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7688784-3', 'auto');
      ga('send', 'pageview');
    </script>

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Mark Monteiro</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#resume">Experience</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a href="{{page.email_href}}" target="_blank">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="img/logo.png" alt="Mark Monteiro">
                    <div class="intro-text">
                        <span class="name">Mark Monteiro</span>
                        <hr class="hidden-xs hr-light">
                        <span class="skills">Software Engineer - Web Developer</span>
                        <ul class="social">
                            <li>
                                <a href="{{page.email_href}}" class="fa-stack" target="_blank">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-envelope-o fa-stack-1x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/mrkmonteiro" class="fa-stack" target="_blank">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-linkedin fa-stack-1x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/mark-monteiro" class="fa-stack" target="_blank">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://stackoverflow.com/users/1988326/markuss232" class="fa-stack" target="_blank">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-stack-overflow fa-stack-1x"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+MarkMonteiroNR" class="fa-stack" target="_blank">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-google-plus fa-stack-1x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="hr-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p>Welcome to my homepage! Here you can see a summary of my education, experiences, and projects I have worked on. If you like what you see, or just want some more information about myself, please <a href="{{page.email_href}}" target="_blank">drop me a line</a>!</p>
                </div>
            </div>
            <div class="row info-container">
                <div class="col-lg-6 col-lg-offset-3 info">
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-4 col-lg-4 col-lg-offset-0">
                            <img class="img-responsive" src="img/profile.png" alt="Mark Monteiro">
                        </div>
                        <div class="col-xs-12 col-lg-8">
                            <div class="info-labels">
                                <p>Email</p>
                                <p>Phone</p>
                                <p>Birthdate</p>
                                <p>Website</p>
                            </div>
                            <div class="info-data">
                                <p><a href="{{page.email_href}}" target="_blank">mark.monteiro23@gmail.com</a></p>
                                <p>226-349-3224</p>
                                <p>May 18, 1991</p>
                                <p><a href="index.html">www.markmonteiro.info</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-8 col-lg-offset-4">
                            <a class="btn btn-primary" href="/mark-monteiro-resume.pdf" download><i class="fa fa-download"></i>Download Resume</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Resume Section -->
    <section id="resume" class="success">
        <div class="cd-container">
            <div class="cd-timeline-label">
                <h2 class="label label-primary">Experience</h2>
            </div>

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>University Of Waterloo</h2>
                    <h3>Bachelor of Computer Science</h3>
                    <span class='cd-timeline-location'>Waterloo, Ontario</span>
                    <p>Five-year program developing a solid understanding of the fundamentals of computer science and its applications. This is a co-operative education program involving six work terms as part of the degree, providing a total of two years of valuable work experience.</p>
                    <p>
                        <strong>Relevant Courses</strong>: Distributed Systems, Concurrent and Parallel Programming, Computer Architecture, Database Management, Algorithms, Data Structures and Data Management, Operating Systems, Object-Oriented Software Development
                    </p>
                    <span class="cd-date">Sept 2009 - April 2015</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>Full-Stack Engineer</h2>
                    <h3>Grand Rounds Inc.</h3>
                    <span class='cd-timeline-location'>San Francisco, California</span>
                    <p>
                        Grand Rounds provides subscribers to their program with access to their netwok of top physicians from whom they can schedule an office visit or get a second opinion on a previous diagnosis. This job involved front-end and back-end work on the main company website and several internal tools. The engineering team worked under an agile-based development cycle, with a focus on test-driven development.
                    </p>
                    <p><strong>Technologies</strong>: Ruby On Rails, Slim, SASS, Coffeescript, Bootstrap, RSpec</p>
                    <span class="cd-date">Sept 2014 - Dec 2014</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>Web Developer</h2>
                    <h3>Innovaction</h3>
                    <span class='cd-timeline-location'>Ankara, Turkey</span>
                    <p>
                        This was a part time position working with a small startup company that was based based out of an incubator on the campus of Middle East Technical University. They had several products/projects in flight and this job involved creating websites for these products.
                    </p>
                    <p><strong>Projects</strong>: <a href="#countify" data-toggle="modal">Countify</a>, <a href="#innovaction" data-toggle="modal">Innovaction</a>, <a href="#fashionator" data-toggle="modal">Fashionator</a></p>
                    <p><strong>Technologies</strong>: ASP.net MVC, OAuth2 (Foursquare API), Entity Framework, Visual Studio Online, WordPress, PHP, MySql</p>
                    <span class="cd-date">Feb 2014 - May 2014</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>Middle East Technical University</h2>
                    <h3>Computer Engineering (Intl. Exchange)</h3>
                    <span class='cd-timeline-location'>Ankara, Turkey</span>
                    <p>The international exchange program allows a student to spend a number of semesters obtaining credits for their home institution in another country. METU is widely considered to be the top university in Turkey, but the experience is not only educational. There is much to learn culturally in Turkey and often while travelling to new countries you also learn more about yourself.</p>
                    <p>
                        <strong>Relevant Courses</strong>: Introduction to Artificial Intelligence, Computer Networks, Information Systems Management
                    </p>
                    <span class="cd-date">Sept 2013 - May 2014</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>Web Developer</h2>
                    <h3>Phoenix Interactive</h3>
                    <span class='cd-timeline-location'>London, Ontario</span>
                    <p>
                        Oversaw the design and development of a new proof-of-concept developer portal. Worked on the project from start to finish. This included the creation of potential use-cases for the site, low-level design, implementation, documentation, and a final presentation of the completed work to company executives.
                    </p>
                    <p><strong>Technologies</strong>: ASP.net MVC, Entity Framework, PDF.js, Microsoft Compiled HTML Help</p>
                    <span class="cd-date">May 2013 - Aug 2013</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>Web Developer</h2>
                    <h3>TangramCare</h3>
                    <span class='cd-timeline-location'>Tustin, California</span>
                    <p>
                        Worked with a small start-up team  to design and develop a new home-healthcare application. Contributed to the development of the Android mobile application, web server and database.
                    </p>
                    <p><strong>Technologies</strong>: Tornado Web Server, KineticJS (HTML5 Canvas), Android App Development, MongoDB</p>
                    <span class="cd-date">Jan 2013 - March 2013</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>Software Engineer</h2>
                    <h3>Phoenix Interactive</h3>
                    <span class='cd-timeline-location'>London, Ontario</span>
                    <p>
                        Designed, coded, reviewed, tested and validated software as part of an agile development team. The software was part of back-end server software used by several major banks to manage large fleets (thousands) of ATMs. This also involved limited work in a propriatary version of C++ that ran on the ATMs themselves.
                    </p>
                    <p><strong>Technologies</strong>: C#, C++, Entity Framework, Unity (Dependency Injection), MKS Integrity</p>
                    <span class="cd-date">May 2012 - Aug 2012</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
                <div class="cd-timeline-point"></div>
                <div class="cd-timeline-content">
                    <h2>Software Support Specialist</h2>
                    <h3>Research In Motion Ltd.</h3>
                    <span class='cd-timeline-location'>Waterloo, Ontario</span>
                    <p>
                        Provided software support for several developer tools. This involved managing user permissions, answering questions, and performing administrative tasks. Created two web applications for the support team during spare time.
                    </p>
                    <p><strong>Technologies</strong>: PHP, Oracle Database, JIRA, Rally, Perforce</p>
                    <span class="cd-date">Sept 2011 - Dec 2011</span>
                </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->
        </div>
    </section> <!-- cd-timeline -->

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projects</h2>
                    <hr class="hr-primary">
                </div>
            </div>
            <div class="row">
                {% include portfolio-items.html %}
            </div>
        </div>
    </section>

    <!-- Portfolio Modals -->
    {% include portfolio-modals.html %}

    <!-- Footer -->
    <footer class="text-center">
        Copyright &copy; Mark Monteiro 2015
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Libraries -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="js/vertical-timeline.js"></script>
    <script type="text/javascript" src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="js/freelancer.js"></script>

</body>

</html>
