{% for experience in site.experiences reversed %}

    {% assign experience_id = experience.relative_path | slugify %}

	<div class="cd-timeline-block">
        <div class="cd-timeline-point">
            <span class='fa
            {% case experience.category %}
              {% when 'work' %}
                fa-briefcase
              {% when 'school' %}
                fa-graduation-cap
            {% endcase %}
            '></span>
        </div>
        <div class="cd-timeline-content">

            <div class='cd-timeline-content-header'>
                <div class='cd-timeline-content-header-text'>
                    <h2>{{experience.title}}</h2>
                    <h3>{{experience.company}}</h3>
                    <span class='cd-timeline-location'>{{experience.location}}</span>
                    <div class="cd-date">{{experience.dates}}</div>
                </div>

                <button
                    class="btn btn-default cd-timeline-collapse-toggle"
                    data-toggle="collapse"
                    data-target="#{{experience_id}}-collapse"
                    aria-expanded="false"
                    aria-controls="{{experience_id}}-collapse"
                >
                    <!-- Content set via JS -->
                </button>
            </div>
            
            <div class="collapse" id="{{experience_id}}-collapse">
                {{experience.content}}

                {% comment %}
                If there is only one project, display a single button that opens the associated project modal.
                {% endcomment %}

                {% if experience.projects and experience.projects.size == 1 %}
                    <br/>
                    <div class='text-center'>
                        <button class='btn btn-info' data-target="#{{experience.projects[0]}}" data-toggle="modal">
                            Project Details
                        </button>
                    </div>
                    
                {% else %}

                    {% comment %}
                    Render project list.
                    {% endcomment %}

                    {% if experience.projects or experience.external_projects %}
                        <div class="projects">
                            <strong>Projects</strong>:&nbsp;
                            <ul>
                                {% for project_id in experience.projects %}
                                    {% capture project_id_prefixed %}/projects/{{project_id}}{% endcapture %}
                                    {% for project in site.projects %}
                                        {% if project.id == project_id_prefixed %}
                                            <li><a href="#{{project_id}}" role='button' data-toggle="modal">{{project.title}}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}

                                {% for project in experience.external_projects %}
                                    <li><a href="{{project.url}}">{{project.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% comment %}
                    Render technologies list.
                    {% endcomment %}

                    {% if experience.technologies %}
                        <div class="technologies">
                            <strong>Technologies</strong>:&nbsp;
                            <ul>
                                {% for tech in experience.technologies %}
                                    <li>{{tech}}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endif %}
            </div><!-- collapse -->
        </div>
    </div> <!-- cd-timeline-block -->
{% endfor %}