{% for project in site.projects %}
    {% assign projectId = project.id | split: '/' | last %}
	<div class="portfolio-modal modal fade" id="{{projectId}}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelled-by="{{projectId}}-title">
        <div class="modal-content" role="document">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 id='{{projectId}}-title' class='text-center'>{{project.title}}</h2>
                            <hr class="hr-primary">
                            <img src="img/project/{{projectId}}.png" class="img-responsive" alt="{{project.title}} Logo">
                            <dl class="details dl-horizontal">
                                {% if project.website %}
                                    <dt>Website</dt>
                                    <dd><a href="{{project.website}}" target="_blank">{{project.website}}</a></dd>
                                {% endif %}
                                {% if project.source %}
                                    <dt>Source</dt>
                                    <dd><a href="{{project.source}}" target="_blank">{{project.source}}</a></dd>
                                {% endif %}
                                <dt>Developed</dt>
                                <dd>{{project.developed}}</dd>
                            </dl>
                            <div class="modal-text">
                                {{project.content}}
                            </div>
                            <ul class="list-inline technologies">
                                {% for technology in project.technologies %}
                                    <li>{{technology}}</li>
                                {% endfor %}
                            </ul>
                            <p class='text-center'>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}