{% for project in site.projects %}
    {% assign projectId = project.id | split: '/' | last %}
	<div class="portfolio-modal modal fade" id="{{projectId}}" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="{{projectId}}-title">
        <div class="modal-content" role="document">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="modal-body col-lg-8 col-lg-offset-2">
                        <h2 id='{{projectId}}-title' class='text-center'>{{project.title}}</h2>
                        <hr class="hr-primary">
                        <img src="img/projects/{{projectId}}.jpg" class="img-responsive" alt="{{project.title}} Logo">
                        <dl class="details dl-horizontal">
                            {% if project.website %}
                                <dt>Website</dt>
                                <dd><a href="{{project.website}}">{{project.website}}</a></dd>
                            {% endif %}
                            {% if project.source %}
                                <dt>Source</dt>
                                <dd><a href="{{project.source}}">{{project.source}}</a></dd>
                            {% endif %}
                            <dt>Developed</dt>
                            <dd>{{project.developed}}</dd>
                        </dl>
                        <div class="modal-text">
                            {{project.content}}
                        </div>
                        {% if project.stackshareId %}
                            <h3>Technology Stack</h3>
                            <div class='stackshare-embed' data-embed-code='{{project.stackshareId}}'></div>
                        {% endif %}
                        {% if project.technologies and project.technologies.size > 0 %}
                            <ul class="list-inline technologies">
                                {% for technology in project.technologies %}
                                    <li>{{technology}}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <p class='text-center'>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                <span class="fa fa-tspanmes"></span>
                                Close
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
