{% comment %}
All this bullshit just gets the the items to render in centered rows of three.
I hate this. Must fix later.
{% endcomment %}
{% assign numrows = site.projects.size | divided_by: 3 | floor %}

{% assign sorted_projects = (site.projects | sort: 'order') %}

{% for project in sorted_projects %}
	{% assign projectId = project.id | split: '/' | last %}
	{% assign colnum = forloop.index | minus: 1 | modulo: 3 %}
	{% assign rownum = forloop.index | minus: 1 | divided_by: 3 | floor %}

	{% if colnum == 0 and rownum == numrows %}
		{% assign lastrow = site.projects.size | modulo: 3 %}
		{% assign offset = 3 | minus: lastrow | times: 2 %}
	{% else %}
		{% assign offset = 0 %}
	{% endif %}

	<div class="col-sm-4 col-sm-offset-{{offset}} portfolio-item">
	    <button type="button" class="btn btn-link portfolio-link" data-toggle="modal" data-target="#{{projectId}}">
	        <div class="caption fa fa-search-plus"></div>
	        <img src="/img/projects/{{projectId}}.png" class="img-responsive" alt="{{project.title}} Logo">
	    </button>
	</div>
{% endfor %}