@import "bourbon/bourbon";
@import "variables";

// Centering things (with reduced browser support)
// Requires a relatively positioned parent
@mixin vertical-center() {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin horizontal-center() {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}
@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}
