@import "bourbon/bourbon";
@import "variables";

// Convert pixels to em
@function em($pixels, $context: $font-size-base) {
  @return #{$pixels/$context}em;
}

// Centering things (with reduced browser support)
// Requires a relatively positioned parent
@mixin vertical-center() {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
}
@mixin horizontal-center() {
  position: absolute;
  left: 50%;
  @include transform(translateX(-50%));
}
@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translate(-50%, -50%));
}

// keep boostrap horizontal styling on small screens
@mixin dl-horizontal-sm($tagSize: 160px, $spacing: 20px) {
  dt {
    float: left;
    width: $tagSize;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  dd {
    margin-left: $tagSize + $spacing;
  }
}
