// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors //
$blue: #2c3e50;
$dark-blue: #303e49;
$green: #1f816e;

$brand-primary: $blue;
$brand-info:    $green;

// Fonts //
$font-size-base: 15px;
$montserrat: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

// Fixed Dimensions //
$header-height: 110px;
$header-height-sm: 60px;

// Media Query Breakpoints (Bootstrap Defaults) //
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/' !default;