.navbar {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  a:focus {
    outline: 0;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li a:focus {
      outline: 0;
    }
  }
}

.navbar-default, .navbar-inverse {
  border: 0;
}

@media (min-width: 768px) {
  .navbar-fixed-top {
    padding: 25px 0;
    transition: all .3s;
    .navbar-brand {
      font-size: 2em;
      transition: all .3s;
    }
    &.navbar-shrink {
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}