.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  margin-top: 2em;
  margin-bottom: 2em;
  header {
    height: 200px;
    line-height: 200px;
    text-align: center;
    background: $dark-blue;
    h1 {
      color: white;
      font-size: 18px;
      font-size: 1.125rem;
    }
  }
  
  &::before {
    // this is the vertical line
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #d7e4ed;
  }
  
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.cd-timeline-label {
  position: relative;
  margin: 2em 0;
  margin-top: 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  h2 {
    font-size: 2em;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-point {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 50%;
  background-color: white;
  border: 4px solid #d7e4ed;
  .fa { display: none; }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
  border-radius: 50%;
  //Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
  text-align: center;
  vertical-align: middle;
  .fa {
    font-size: 25px;
    line-height: inherit;
  }
  img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
  }
  &.cd-picture {
    background: #75ce66;
  }
  &.cd-movie {
    background: #c03b44;
  }
  &.cd-location {
    background: #f0ca45;
  }
}

.cd-timeline-content {
  position: relative;
  margin-left: 40px;
  @media (min-width: $screen-sm-min) { margin-left: 60px; }
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  
  &::after {
    content: "";
    display: table;
    clear: both;
  }
  
  &::before {
    content: '';
    position: absolute;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
    
    .cd-timeline-point ~ & { top: 8px; }
    .cd-timeline-img ~ & { top: 16px; }
  }
  
  h2 {
    margin: 0;
    color: $dark-blue;
    font-size: 20px;
    font-size: 1.25rem;
  }
  h3 {
    margin: 0;
    color: $dark-blue;
    font-size: 17px;
    font-size: 1.1rem;
  }
  p,
  p + ul {
    margin: 0.5em 0;
    line-height: 1.6;
    font-size: 1rem;
  }
  .cd-read-more {
    display: inline-block;
    font-size: 0.875rem;
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
  }
  .cd-date {
    font-size: 0.875rem;
    padding: .2em 0;
    opacity: .7;
  }
  .cd-timeline-location {
    margin-top: 0;
  }
}

$cd-timeline-content-header-breakpoint: 500px;

.cd-timeline-content-header {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $cd-timeline-content-header-breakpoint) {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}

.cd-timeline-content-header-text {
  flex-basis: 100%;
  @media (min-width: $cd-timeline-content-header-breakpoint) {
    flex-basis: auto;
  }
}

.cd-timeline-collapse-toggle {
  margin: 0.5em 0;
  flex-shrink: 0;
  @media (min-width: $cd-timeline-content-header-breakpoint) {
    margin-left: 0.5em;
  }
  @media (max-width: #{$cd-timeline-content-header-breakpoint - 1}) {
    padding: 0.2em 0.5em;
  }
}

// Use Modernizr to check for animation support //
html.cssanimations {
  .cd-timeline-block {
    .hide-timeline {
      visibility: hidden;
    }
    .cd-timeline-img.bounce-in {
      visibility: visible;
      animation: expand-bounce 0.6s;
    }
    .cd-timeline-point.bounce-in {
      visibility: visible;
      animation: expand-bounce 0.6s;
    }
    .cd-timeline-content.bounce-in {
      visibility: visible;
      animation: slide-bounce-inverse 0.6s;
    }
    @media only screen and(min-width: 1170px) {

      .cd-timeline-content.bounce-in .cd-date {
        animation: slide-bounce-double 0.6s;
      }

      &:nth-child(odd) {
        .cd-timeline-content.bounce-in {
          animation: slide-bounce 0.6s;
        }
        .cd-timeline-content.bounce-in .cd-date {
          animation: slide-bounce-double-inverse 0.6s;
        }
      }
    }
  }
}

@media only screen and(min-width: 1170px) {
  .cd-container {
    margin-top: 3em;
    margin-bottom: 3em;
    header {
      height: 300px;
      line-height: 300px;
      h1 {
        font-size: 24px;
        font-size: 1.5rem;
      }
    }
    
    &::before {
      left: 50%;
      margin-left: -2px;
    }
  }
  
  .cd-timeline-label {
    text-align: center;
  }
  
  .cd-timeline-block {
    margin: 4em 0;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
  
  .cd-timeline-point {
    $diameter: 40px;
    width: $diameter;
    height: $diameter;
    left: 50%;
    margin-left: -$diameter/2;
    transform: translateZ(0);
    backface-visibility: hidden;
    
    .fa {
      display: inline-block;
      line-height: $diameter - 7px;
    }
  }
  
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    line-height: 60px;
    left: 50%;
    margin-left: -30px;
    transform: translateZ(0);
    backface-visibility: hidden;
  }
  
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    .cd-read-more {
      float: left;
    }
    .cd-date {
      position: absolute;
      width: 100%;
      left: 122%;
      top: 12px;
      font-size: 1rem;
      color: #003765;
      font-weight: bold;
    }
    
    &::before {
      left: 100%;
      border-color: transparent;
      border-left-color: white;
      
      .cd-timeline-point ~ & { top: 19px; }
      .cd-timeline-img ~ & { top: 24px; }
    }
    
    .cd-timeline-block:nth-child(even) & {
      float: right;
      .cd-read-more {
        float: right;
      }
      .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
      
      &::before {
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
      }
    }
  }
}

@keyframes expand-bounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide-bounce {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-bounce-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-bounce-double {
  0% {
    opacity: 0;
    transform: translateX(-100px * 2);
  }
  60% {
    opacity: 1;
    transform: translateX(20px * 2);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-bounce-double-inverse {
  0% {
    opacity: 0;
    transform: translateX(100px * 2);
  }
  60% {
    opacity: 1;
    transform: translateX(-20px * 2);
  }
  100% {
    transform: translateX(0);
  }
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}