<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body data-section-id="#page-top" class="index">

    {{ content }}

    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/modernizr/2.8.3/modernizr.min.js"></script>
    <script type="text/javascript" src="/js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script type="text/javascript" src="/js/freelancer.js"></script>

    <!-- Page-Specific JavaScript -->
    {% if page.custom_js %}
      {% for js_file in page.custom_js %}
      <script src='/js/{{ js_file }}' type="text/javascript"></script>
      {% endfor %}
    {% endif %}

  </body>
</html>
